# Import imp lib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/dataset.csv')
df.head()

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.0,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,NaN,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.0,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.0,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.0,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P

In [4]:
df.describe()

,id,sale_price,sale_nbr,join_year,latitude,longitude,area,present_use,land_val,imp_val,...,view_rainier,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other
count,200000.000000,2.000000e+05,157818.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,2.000000e+05,2.000000e+05,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,99999.500000,5.841495e+05,2.162599,2023.403600,47.549248,-122.210416,48.644215,4.108860,4.601691e+05,4.917715e+05,...,0.017940,0.053985,0.058800,0.215550,0.018425,0.055565,0.050075,0.014090,0.020875,0.013455
std,57735.171256,4.170595e+05,1.113090,6.241643,0.142710,0.140339,27.132002,7.199323,3.510444e+05,3.680505e+05,...,0.218994,0.379119,0.381868,0.724224,0.222746,0.380011,0.353664,0.200154,0.248977,0.181147
min,0.000000,5.029300e+04,1.000000,1999.000000,47.155200,-122.527700,1.000000,2.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49999.750000,3.050000e+05,1.000000,2025.000000,47.446500,-122.323800,26.000000,2.000000,2.310000e+05,2.800000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,99999.500000,4.599500e+05,2.000000,2025.000000,47.562800,-122.222700,48.000000,2.000000,3.770000e+05,4.090000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,149999.250000,7.249500e+05,3.000000,2025.000000,47.673500,-122.121700,71.000000,2.000000,5.940000e+05,5.990000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,199999.000000,2.999950e+06,11.000000,2025.000000,47.777800,-121.161300,100.000000,29.000000,1.386400e+07,1.006700e+07,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [5]:
df.columns

Index(['id', 'sale_date', 'sale_price', 'sale_nbr', 'sale_warning',
       'join_status', 'join_year', 'latitude', 'longitude', 'area', 'city',
       'zoning', 'subdivision', 'present_use', 'land_val', 'imp_val',
       'year_built', 'year_reno', 'sqft_lot', 'sqft', 'sqft_1', 'sqft_fbsmt',
       'grade', 'fbsmt_grade', 'condition', 'stories', 'beds', 'bath_full',
       'bath_3qtr', 'bath_half', 'garb_sqft', 'gara_sqft', 'wfnt', 'golf',
       'greenbelt', 'noise_traffic', 'view_rainier', 'view_olympics',
       'view_cascades', 'view_territorial', 'view_skyline', 'view_sound',
       'view_lakewash', 'view_lakesamm', 'view_otherwater', 'view_other',
       'submarket'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                200000 non-null  int64
 1   sale_date         200000 non-null  object
 2   sale_price        200000 non-null  int64
 3   sale_nbr          157818 non-null  float64
 4   sale_warning      200000 non-null  object
 5   join_status       200000 non-null  object
 6   join_year         200000 non-null  int64
 7   latitude          200000 non-null  float64
 8   longitude         200000 non-null  float64
 9   area              200000 non-null  int64
 10  city              200000 non-null  object
 11  zoning            200000 non-null  object
 12  subdivision       182450 non-null  object
 13  present_use       200000 non-null  int64
 14  land_val          200000 non-null  int64
 15  imp_val           200000 non-null  int64
 16  year_built        200000 non-null  int64
 17  year_reno         200000 non-null  int64
 18  sqft_lot          200000 non-null  int64
 19  sqft              200000 non-null  int64
 20  sqft_1            200000 non-null  int64
 21  sqft_fbsmt        200000 non-null  int64
 22  grade             200000 non-null  int64
 23  fbsmt_grade       200000 non-null  int64
 24  condition         200000 non-null  int64
 25  stories           200000 non-null  float64
 26  beds              200000 non-null  int64
 27  bath_full         200000 non-null  int64
 28  bath_3qtr         200000 non-null  int64
 29  bath_half         200000 non-null  int64
 30  garb_sqft         200000 non-null  int64
 31  gara_sqft         200000 non-null  int64
 32  wfnt              200000 non-null  int64
 33  golf              200000 non-null  int64
 34  greenbelt         200000 non-null  int64
 35  noise_traffic     200000 non-null  int64
 36  view_rainier      200000 non-null  int64
 37  view_olympics     200000 non-null  int64
 38  view_cascades     200000 non-null  int64
 39  view_territorial  200000 non-null  int64
 40  view_skyline      200000 non-null  int64
 41  view_sound        200000 non-null  int64
 42  view_lakewash     200000 non-null  int64
 43  view_lakesamm     200000 non-null  int64
 44  view_otherwater   200000 non-null  int64
 45  view_other        200000 non-null  int64
 46  submarket         198283 non-null  object
dtypes: float64(4), int64(36), object(7)
memory usage: 71.7+ MB

In [7]:
df['sale_date'].head()

0    2014-11-15
1    1999-01-15
2    2006-08-15
3    1999-12-15
4    2018-07-15
Name: sale_date, dtype: object

In [8]:
df['join_year'].head()

0    2025
1    2025
2    2025
3    2025
4    2025
Name: join_year, dtype: int64